$max-width: 1200px;
$frameMargin: 2vh;
$height: calc(100vh - 2 * $frameMargin);
$width: calc(100vw - 2 * $frameMargin);
$tabFrameMargin: 10px;
$tabHeight: calc(100vh - 2 * $tabFrameMargin);
$tabWidth: calc(100vw - 2 * $tabFrameMargin);
$mobileFrameMargin: 5px;
$mobileHeight: calc(100vh - 2 * $mobileFrameMargin);
$mobileWidth: calc(100vw - 2 * $mobileFrameMargin);
$navBorderRadius: 40px;

$scrollBar: #f55c1b;


//colors
$primaryColor: #45496a;
$secondryColor: #7d8bae;
$thirdColor:#e5857b;
$fourthColor:#f1b2b2;
$fifthColor:#e8ccc7;
$textColor: black;

$color0:#f55c1b;
$color1:#2e9fe3;
$color2:#ff94aa;
$color3:#f9e3ae;
$color4:#93b4ff;
$color5:#abff97;
$color6:#ecefff;
$color7:#00ffcb;


//fonts


$fontFamily: 'Rubik Marker Hatch';
$fontFamily1: 'Kenia';
$fontFamily2: 'Monoton';
$fontFamily3: 'Rubik Vinyl';

//skills page circle text
$fontFamilySecondry: 'Gruppo';
$fontFamilySKillPercentage: 'Anton';

//project page hexagon title
$fontFamilyProject: 'Anton';

//Experience page 
$fontFamilyTime: 'Gruppo';

//title
$fontFamilyTitle: "Anton";
$fontFamilyShdowTitle: 'Anton';

$titleFontSize: 3rem;
$subTitleFontSize: 3rem;

$radioButtonColor: rgb(110, 99, 99);

$skillCircleColor: #f3efe691;

$hexagonColor: #6E6363;

//colors
$dark : rgb(29,29,29);
$light : #ffff;
$primary : rgb(245, 222, 179);
$bg : rgb(233, 227, 216);
$highlight : red;
$borderColor : rgba(134, 119, 92, 0.781);


//spacing
$spacing-md : 16px;
$spacing-lg : 32px;

//border radius
$borderRadius : 12px;
$boxShadow : 4px 4px 6px 1px rgba(0, 0, 0, 0.2);

//headerHeight
$headerHeight : 80px;

//contact 
$contactBorderRadius : 7px;

//Card Hover
$cardHover : 6px 6px 6px 1px rgba(0, 0, 0, 0.2);

@mixin breakpoint($point){
    @if $point == md {
        // which is 768px
        @media (min-width : 768px) {
            @content;
        }
    }
}
