$max-width: 1200px;
$navBorderRadius: 40px;


//colors
$primaryColor: #45496a;
$secondryColor: #7d8bae;
$thirdColor:#e5857b;
$fourthColor:#f1b2b2;
$fifthColor:#e8ccc7;
$textColor: black;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gruppo&family=Kenia&family=Monoton&family=Rubik+Marker+Hatch&family=Rubik+Vinyl&display=swap');


$fontFamily: 'Rubik Marker Hatch';

$titleFontSize: 3rem;
$subTitleFontSize: 3rem;