@import "@/sass/variables.scss";

.project-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: hidden;

  .section {
    width: 100%;
    height: 100%;

    .project-list-container {
      position: relative;
      top: 20%;
      width: 100%;
      height: 100%;
      .project-list {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .row {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
        }
      }
    }
  }
}
