@import "@/sass/variables.scss";

.project-section {
  position: relative;
  width: $width;
  height: $height;
  background-color: white;
  overflow: hidden;
  pointer-events: none;

  .section {
    width: 100%;
    height: 100%;
    position: relative;

    .project-list-container {
      position: relative;
      margin-top: 20vh;
      width: 100%;
      height: 100%;
      .project-list {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .row {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          &:not(:first-child) {
            margin-top: -63px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .project-section {
    width: $tabWidth;
    height: $tabHeight;
    .section {
      .project-list-container {
        margin-top: 20vh;
        .project-list {
          .row {
            width: 80%;

            &:not(:first-child) {
              margin-top: -34px;
            }

            &:nth-child(2){
              width: 60%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .project-section {
    height: auto;
    margin-bottom: 3vh;
    .section {
      .project-list-container {
        margin-top: 6vh;
        .project-list {
          .row {
            &:not(:first-child) {
              margin-top: -34px;
            }
            &:nth-child(even){
              width: 53%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 546px) {
  .project-section {
    width: $mobileWidth;
    height: auto;
   
  
    .section {
      .project-list-container {
        .project-list {
          .row {
            gap: 1vh;

            &:not(:first-child) {
              margin-top: -34px;
            }

            &:nth-child(even){
              width: 40%;
            }
          }
        }
      }
    }
  }
}
