#freepik_stories-sauce-tree:not(.animated) .animable {
  opacity: 0;
  pointer-events: none;
}
#freepik_stories-sauce-tree.animated
  #freepik--background-complete--inject-101 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn,
    30s Infinite linear shake;
  animation-delay: 0s, 1s;
}
#freepik_stories-sauce-tree.animated #freepik--Tree--inject-101 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}
#freepik_stories-sauce-tree.animated #freepik--Floor--inject-101 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
#freepik_stories-sauce-tree.animated #freepik--Birds--inject-101 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight,
    6s Infinite linear floating;
  animation-delay: 0s, 1s;
}
#freepik_stories-sauce-tree.animated #freepik--Bushes--inject-101 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight,
    6s Infinite linear wind;
  animation-delay: 0s, 1s;
}

#twig1{
  transform-origin: top !important;
  animation: 6s Infinite linear wind1;
  animation-delay: 0s, 1s;
  path{
    // fill: red;
  }
 }

#twig2{
  transform-origin: top !important;
  animation: 6s Infinite linear wind2;
  animation-delay: 0s, 1s;
  path{
    // fill: red;
  }
 }

 #twig3{
  transform-origin: top !important;
  animation: 6s Infinite linear wind3;
  animation-delay: 0s, 1s;
  path{
    // fill: red;
  }
 }

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes wind1 {
  0%
  {
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(1deg);
  }
  50%{
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(1deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes wind2 {
  0%
  {
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(-1deg);
  }
  50%{
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(1deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes wind3 {
  0%
  {
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(-0.5deg);
  }
  50%{
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-0.5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(20px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-40px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(40px, 0, 0);
  }
}
@keyframes lightSpeedLeft {
  from {
    transform: translate3d(0,50%, 0) skewX(20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(-10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes lightSpeedRight {
  from {
    transform: translate3d(0,50%, 0) skewX(-20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
