@import "@/sass/variables.scss";

.contact-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: hidden;

  .section {
    width: 100%;
    height: 100%;
    .form-container {
        position: relative;
        top: 20%;
        width: 100%;
        height: 100%;
      .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 0px 3rem 0px 3rem;

        @include breakpoint(md) {
          width: 50%;
        }

        .status {
          color: red;
          font-size: 12px;
          @include breakpoint(md) {
            font-size: 15px;
          }
        }

        .name {
          width: 100%;
          height: 3rem;
          background: $bg;
          padding-left: 1rem;
          border-width: 1px;
          border-style: solid;
          border-color: $borderColor;
          border-image: initial;
          box-shadow: $boxShadow;
          border-radius: $contactBorderRadius;
          transition: 0.7s ease all;

          &:hover {
            background: rgba($highlight, 0.1);
          }
        }

        .email {
          width: 100%;
          height: 3rem;
          background: $bg;
          padding-left: 1rem;
          border-width: 1px;
          border-style: solid;
          border-color: $borderColor;
          border-image: initial;
          box-shadow: $boxShadow;
          border-radius: $contactBorderRadius;
          transition: 0.7s ease all;

          &:hover {
            background: rgba($highlight, 0.1);
          }
        }

        .message {
          width: 100%;
          height: 6rem;
          background: $bg;
          padding-left: 1rem;
          border-color: $borderColor;
          box-shadow: $boxShadow;
          border-radius: $contactBorderRadius;
          transition: 0.7s ease all;

          &:hover {
            background: rgba($highlight, 0.1);
          }
        }

        button {
          width: 100%;
          height: 3rem;
          background: $bg;
          padding-left: 1rem;
          border-width: 1px;
          border-style: solid;
          border-color: $borderColor;
          border-image: initial;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          box-shadow: $boxShadow;
          border-radius: $contactBorderRadius;
          transition: 0.7s ease all;

          &:hover {
            background: rgba($highlight, 0.1);
          }

          &:active {
            background: rgba($primary, 0.1);
          }

          p {
            font-size: 20px;
          }

          svg {
            width: 30px;
            height: 30px;
            color: red;
          }
        }
      }
    }
  }
}
