@import "@/sass/variables.scss";

.contact-container {
  position: relative;
  width: $width;
  height: calc(80vh - $frameMargin + 1vh);
  background-color: white;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;

  .section {
    width: 100%;
    height: 100%;
    .form-container {
      position: relative;
      margin-top: 15vh;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      pointer-events: none;      
      .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 700px;
        padding: 0px 3rem 0px 3rem;
        pointer-events: none;

        .status {
          font-size: 16px;
          @include breakpoint(md) {
            font-size: 15px;
          }
        }

        .name,.message,.email {
          width: 100%;
          height: 4rem;
          padding-left: 1rem;
          border: 3px solid;
          box-shadow: $boxShadow;
          border-radius: $contactBorderRadius;
          transition: 0.7s ease all;
          font-size: 2rem;
          pointer-events: all;

          &:hover {
            background: rgba($highlight, 0.1);
          }
        }

        .message {
          height: 6rem;
        }
      }
    }

    .background{
      width: 25vw;
      height: 25vw;
      position: absolute;
      right: 5%;
      top: 5%;
      transform: scaleX(-1);
    }

    .contactWave{
      bottom: -44px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact-container {
    width: $tabWidth;
    // height: $tabHeight;
  
    .section {
      .form-container {
        margin-top: 20vh;
        .form {
          gap: 1rem;
          padding: 0px 3rem 0px 3rem;
  
          .status {
            font-size: 14px;
          }
  
          .name,.message,.email {
            width: 80%;
            height: 3rem;
            font-size: 1rem;
          }
  
          .message {
            height: 5rem;
          }
        }
      }
  
      .background{
        width: 20%;
        height: 200px;
      }

      // .contactWave{
      //   bottom: -3px;
      // }
    }
  }
}

@media screen and (max-width: 546px) {
  .contact-container {
    width: $mobileWidth;
    // height: $mobileHeight;
    .section {
      .form-container {
        .form {
          padding: 0px 1rem 0px 1rem;
  
          .status {
            font-size: 12px;
          }
  
          .name,.message,.email {
            width: 80%;
            height: 2.5rem;
            font-size: 1rem;
          }
  
          .message {
            height: 4rem;
          }
        }
      }
    }
  }
}
