@import '@/sass/variables.scss';

.itemContainer {
  width: 50%;
  height: 18vh;
  pointer-events: all;

  &:nth-child(2) {
    .base {
      .left,
      .right {
        margin-top: -1px;
      }
      .content {
        margin-top: -1px;
      }
    }
  }
  &:nth-child(3) {
    .base {
      .left,
      .right {
        margin-top: -2px;
      }
      .content {
        margin-top: -4px;
      }
    }
  }
  .base {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .left,
    .right {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      font-size: 8vh;
      font-family: "Anton";
      background-color: white;
      border: 1px solid;
      display: flex;
      align-items: center;
      padding: 2rem;
      pointer-events: none;
    }

    .left {
      margin-left: 2px;
      border-left: none;
      left: 0;
      justify-content: flex-end;
      border-right: none;

      span {
        position: absolute;
        top: 50%;
        right: 0;
        width: 30px;
        height: 1vh;
        transform: translate(50%,-50%);
        border-radius: 10px;
      }
    }

    .right {
      margin-right: 2px;
      border-right: none;
      right: 0;
      justify-content: flex-start;
      border-left: none;

      
      span {
        position: absolute;
        top: 50%;
        left: 0;
        width: 30px;
        height: 1vh;
        transform: translate(-50%,-50%);
        border-radius: 10px;
      }
    }

    .content {
      width: 95%;
      padding: 0 1vh;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .itemContainer {
    height: 150px;
    .base {
      .left,
      .right {
        font-size: 3.5rem;

        span {
          width: 25px;
          height: 8px;
        }
      }
     }
  
      .content {
        width: 95%;
      }
    }
}

@media screen and (max-width: 546px) {
  .itemContainer {
    height: 100px;
    .base {
      .left,
      .right {
        font-size: 2rem;

        span {
          width: 20px;
          height: 5px;
        }
      }
     }
  
      .content {
        width: 95%;
        padding: 0 10px;
      }
    }
}
