@import "@/sass/variables.scss";

$animationTime: 0.7s;

.home-section {
  position: relative;
  width: 100vw;
  height: $height;
  background-color: $primaryColor;
  overflow: hidden;
  background-color: white;
  // background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);

  // 1
  // background: #FF5F6D;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //2
  // background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);

  //color of the sky
  // background: #e0eafc; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #cfdef3,
  //   #e0eafc
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #cfdef3,
  //   #e0eafc
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  // 
  // background: linear-gradient(90deg, #ffffff 0%, #fbff8a 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  .background {
    position: absolute;
    right: 5%;
    bottom: 5%;
    transform: scaleX(-1);
  }

  .home-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 4vh;
    background: linear-gradient(180deg, #ffffff00 0%, #ffffff 100%);
  }

  .home-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 6vh;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .displacement {
    filter: url(#displacementFilter);
  }

  .textSection{
    width: 100%;
    height: 100%;

    .row{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -50%);

      .title{
        text-align: center;
        font-size: 100px;
        color: #575757;
        font-family: $fontFamilySecondry;
        text-transform: capitalize;

        span{
          text-shadow: 
          1px 0px 1px #ccc, 0px 1px 1px #eee, 
          2px 1px 1px #ccc, 1px 2px 1px #eee,
          3px 2px 1px #ccc, 2px 3px 1px #eee,
          4px 3px 1px #ccc, 3px 4px 1px #eee,
          5px 4px 1px #ccc, 4px 5px 1px #eee,
          6px 5px 1px #ccc, 5px 6px 1px #eee,
          7px 6px 1px #ccc;
        }
      }
    }

   

    .circularText{
      width: 100vh;
      height: 100vh;
      position: absolute;
      bottom: -50vh;
      left: 50%;
      z-index: 0;
      transform: translate(-50%, 0);
      animation: textRotate 10s linear infinite;

      svg{
        text{
          font-size:7px;
          font-weight:"normal";
          word-spacing: 2px;
          letter-spacing: 0px;
          font-family: $fontFamilySecondry;
          transform-origin: center;
        }
      }
    }
  }

  .body-container {
    display: inherit;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 4;
    margin-left: 2rem;

    h1,
    .subtitle {
      color: $radioButtonColor;
      font-size: $titleFontSize;
      font-family: $fontFamily;
      letter-spacing: 0.1em;
      line-height: 1;
      font-weight: bold;
    }

    h1 {
      margin-bottom: 1rem;
    }

    .subtitle {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      white-space: nowrap;
      letter-spacing: 2px;

      .textholder {
        width: 100%;
        height: 50px;
        overflow: hidden;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
      }

      h2 {
        width: 100%;
        letter-spacing: 2px;
        margin-left: 10px;
        color: transparent;
        font-size: $subTitleFontSize;
        font-family: $fontFamily;
        line-height: 1;
        background-clip: text;
        transition: all $animationTime ease-in-out;
        background-size: cover;
        background-position: top left;
      }
    }
  }
}

@keyframes textRotate {
  to{
    transform:  translate(-50%, 0) rotate(-360deg);
  }
}
