@import "@/sass/variables.scss";

$animationTime: 0.7s;

.home-section {
  position: relative;
  width: $width;
  //    margin: $frameMargin;
  height: $height;
  background-color: $primaryColor;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .background {
    width: 500px;
    height: 500px;
    position: absolute;
    right: 5%;
    bottom: 5%;
    transform: scaleX(1);
    pointer-events: none;
  }

  .home-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 4vh;
    background: linear-gradient(180deg, #ffffff00 0%, #ffffff 100%);
    pointer-events: none;
  }

  // .home-header{
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: 999;
  //   width: 100%;
  //   height: 2vh;
  //   width: $width;
  //   margin-top: $frameMargin;
  //   margin-left: $frameMargin;
  //   border-top-right-radius: 12px;
  //   border-top-left-radius: 12px;
  // }

  // .homeDivider {
  //   top: -25px;
  //   position:fixed;
  //   transform: scaleY(-1);
  //   width: $width;
  //   margin-top: $frameMargin;
  //   margin-left: $frameMargin;
  // }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .displacement {
    filter: url(#displacementFilter);
  }

  .textSection{
    width: 100%;
    height: 100%;
    pointer-events: none;

    .row{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;

      .title{
        text-align: center;
        font-size: 100px;
        color: #444;
        font-family: $fontFamilySecondry;
        text-transform: capitalize;
        pointer-events: none;

        .name{
          text-shadow: 
          1px 0px 1px #ccc, 0px 1px 1px #eee, 
          2px 1px 1px #ccc, 1px 2px 1px #eee,
          3px 2px 1px #ccc, 2px 3px 1px #eee,
          4px 3px 1px #ccc, 3px 4px 1px #eee,
          5px 4px 1px #ccc, 4px 5px 1px #eee,
          6px 5px 1px #ccc, 5px 6px 1px #eee,
          7px 6px 1px #ccc;
        }
      }
    }

   

    .circularText{
      width: 100vh;
      height: 100vh;
      position: absolute;
      bottom: -50vh;
      left: 50%;
      z-index: 0;
      transform: translate(-50%, 0);
      animation: textRotate 20s linear infinite;
      pointer-events: none;

      svg{
        text{
          font-size:7px;
          font-weight:"normal";
          word-spacing: 2px;
          letter-spacing: 0px;
          font-family: $fontFamilySecondry;
          transform-origin: center;
          pointer-events: none;
        }
      }
    }
  }

  .scrollButton{
    position: absolute;
    bottom: 5vh;
    right: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #444;
    pointer-events: none;
    span{
      width: 30px;
      height: 50px;
      border: 2px solid #444;
      border-radius: 50px;
  
      &::before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: '';
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #444;
        border-radius: 100%;
        -webkit-animation: sdb10 2s infinite;
        animation: sdb10 2s infinite;
        box-sizing: border-box;
      }
    }

    h1{
      font-family: $fontFamilySecondry;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-section {
    // margin: $tabFrameMargin;
    width: $tabWidth;
    height: $tabHeight;
    .background {
      width: 30vh;
      height: 30vh;
    }
    .textSection{ 
      .row{
        top: 40%;
        .title{
          font-size: 6vmax;
        }
      }
      .circularText{
        width: 80vh;
        height: 100vh;
        left: 49%;
        svg{
          text{
            font-size:6px;
          }
        }
      }
    }

    .scrollButton{
      display: none;
    }

    .home-footer {
      height: 2vh;
    }
  
    .home-header{
      height: 30px;
    }
  }
  
}

@media screen and (max-width: 546px) {
  .home-section {
    // margin: $mobileFrameMargin;
    width: $mobileWidth;
    height: $mobileHeight;
    .background {
      width: 20vh;
      height: 20vh;
    }
    .textSection{ 
      .row{
        .title{
          font-size: 5vmax;
        }
      }
      .circularText{
        width: 60vh;
        height: 100vh;
        left: 49%;
        svg{
          text{
            font-size:8px;
          }
        }
      }
    }

    .home-header{
      height: 24px;
    }
  }
}

@keyframes textRotate {
  to{
    transform:  translate(-50%, 0) rotate(-360deg);
  }
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
