@import "@/sass/variables.scss";

$animationTime: 0.7s;

.home-section {
  position: relative;
  width: 100vw;
  height: $height;
  background-color: $primaryColor;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .background {
    position: absolute;
    right: 5%;
    bottom: 5%;
    transform: scaleX(-1);
  }

  .home-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 4vh;
    background: linear-gradient(180deg, #ffffff00 0%, #ffffff 100%);
  }

  .home-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 6vh;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .displacement {
    filter: url(#displacementFilter);
  }

  .textSection{
    width: 100%;
    height: 100%;

    .row{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -50%);

      .title{
        text-align: center;
        font-size: 100px;
        color: #444;
        font-family: $fontFamilySecondry;
        text-transform: capitalize;

        .name{
          text-shadow: 
          1px 0px 1px #ccc, 0px 1px 1px #eee, 
          2px 1px 1px #ccc, 1px 2px 1px #eee,
          3px 2px 1px #ccc, 2px 3px 1px #eee,
          4px 3px 1px #ccc, 3px 4px 1px #eee,
          5px 4px 1px #ccc, 4px 5px 1px #eee,
          6px 5px 1px #ccc, 5px 6px 1px #eee,
          7px 6px 1px #ccc;
        }
      }
    }

   

    .circularText{
      width: 100vh;
      height: 100vh;
      position: absolute;
      bottom: -50vh;
      left: 50%;
      z-index: 0;
      transform: translate(-50%, 0);
      animation: textRotate 20s linear infinite;

      svg{
        text{
          font-size:7px;
          font-weight:"normal";
          word-spacing: 2px;
          letter-spacing: 0px;
          font-family: $fontFamilySecondry;
          transform-origin: center;
        }
      }
    }
  }

  .body-container {
    display: inherit;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 4;
    margin-left: 2rem;

    h1,
    .subtitle {
      color: $radioButtonColor;
      font-size: $titleFontSize;
      font-family: $fontFamily;
      letter-spacing: 0.1em;
      line-height: 1;
      font-weight: bold;
    }

    h1 {
      margin-bottom: 1rem;
    }

    .subtitle {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      white-space: nowrap;
      letter-spacing: 2px;

      .textholder {
        width: 100%;
        height: 50px;
        overflow: hidden;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
      }

      h2 {
        width: 100%;
        letter-spacing: 2px;
        margin-left: 10px;
        color: transparent;
        font-size: $subTitleFontSize;
        font-family: $fontFamily;
        line-height: 1;
        background-clip: text;
        transition: all $animationTime ease-in-out;
        background-size: cover;
        background-position: top left;
      }
    }
  }

  .scrollButton{
    position: absolute;
    bottom: 5vh;
    right: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #444;
    span{
      width: 30px;
      height: 50px;
      border: 2px solid #444;
      border-radius: 50px;
  
      &::before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: '';
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #444;
        border-radius: 100%;
        -webkit-animation: sdb10 2s infinite;
        animation: sdb10 2s infinite;
        box-sizing: border-box;
      }
    }
  }
}

@keyframes textRotate {
  to{
    transform:  translate(-50%, 0) rotate(-360deg);
  }
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
