.blob-container{
    width: 400px;
    height: 400px;
    margin: 0;
    position: absolute;
    z-index: 55;

    .blob{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        
        svg{
            width: 100%;
            height: 100%;
        }

        // &:nth-child(2){
        //     filter: blur(20px);
        // }
    }

    
}