@import '@/sass/variables.scss';
.titleSection{
    position: relative;
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;

    .shadowText{
        font-size: 9em;
        font-family: $fontFamilyShdowTitle;
        position: absolute;
        white-space: nowrap;
        letter-spacing: 0.067em;
        word-spacing: 0.2em;
        text-transform: uppercase;
    }

    .text{
        position: absolute;
        white-space: nowrap;
        font-size: 6em;
        font-family: $fontFamilyTitle;
        letter-spacing: 0.25em;
        word-spacing: 0.5em;
        padding-left: 20px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 768px) {
    .titleSection{
        top: 5% !important;
        height: 6em;
    
        .shadowText{
            font-size: 5.4em;
        }
    
        .text{
            font-size: 4em;
        }
    }
}

@media screen and (max-width: 546px) {
    .titleSection{
        height: 4em;
    
        .shadowText{
            font-size: 3.4em;
        }
    
        .text{
            font-size: 2.4em;
        }
    }
}