@import '@/sass/variables.scss';

.skill-section{
    position: relative;
    width: $width;
    height: $height;
    background-color: white;
    overflow: hidden;

    .section{
        width: 100%;
        height: 100%;

        .background{
            width: 700px;
            height: 700px;
            position: absolute;
            left: 40%;
            top: 60%;
            transform: translate(-50%, -50%) scaleX(-1);

            svg{
                path,circle,ellipse{
                    transition: fill 1s ease-in-out;
                }
            }
          }

        .tab{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 55%;
            transform: translate(-50%,-50%);
            right: -50%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;

            svg{
                position: relative;

                rect{
                    pointer-events: none;
                }

                text{
                    color: black;
                }
            }
        }

        .textHolder{
            width: 60vh;
            height: 60vh;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
            transform: rotate(224deg);
            pointer-events: none;

            .item{
                width: 50%;
                height: 40px;
                position: absolute;
                transform-origin: left;
                left: 50%;
                display: flex;
                justify-content: flex-end;
            }
        }

        .card{
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            pointer-events: none;
            opacity: 0;

            p{
                color: orange;
                text-align: center;
                text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
                font-family: $fontFamilySKillPercentage;
                font-size: 6rem;
                font-style:normal;
                font-weight: 400;
                line-height: normal;
                -webkit-text-stroke: 2px white;

                &:nth-child(1){
                    padding-right: 0.1em;
                }
            }
        }

        .skillLabel{
            position: absolute;
            color: black;
            font-family: $fontFamilySKillPercentage;
            font-size: 3rem;
            font-style:normal;
            font-weight: 400;
            line-height: normal;
            opacity: 0;
            pointer-events: none;
            // scale: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .skill-section{
        width: $tabWidth;
        height: $tabHeight;
        .section{
            .textHolder{
                .item{
                    width: 45%;
                }
            }
    
            .card{
                p{
                    font-size: 4rem;
                    line-height: 4rem;
                }
            }
    
            .skillLabel{
                font-size: 1.8rem;
            }
        }
    }
  }
  
  @media screen and (max-width: 546px) {
    .skill-section{
        width: $mobileWidth;
        height: $mobileHeight;
        .section{
            .textHolder{
                .item{
                    width: 20%;
                }
            }
    
            .card{
                p{
                    font-size: 2rem;
                    line-height: 2rem;
                }
            }
    
            .skillLabel{
                font-size: 1.3rem;
            }
        }
    }
  }

