@import "@/sass/variables.scss";

.headerSection{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: $width;
  margin-top: $frameMargin;
  margin-left: $frameMargin;
  .background{
    display: flex;
    .home-header{
      position: relative;
      width: 100%;
      height: 3vh;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      pointer-events: none;
    }
    .wave{
      position: absolute;
      bottom: -155px;
      top: auto;
      transform: scaleY(-1);
      width: 100%;
    }
  }

  .breadcrumb{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 2.2rem;
    right: 2.2rem;
    z-index: 9999;
    cursor: pointer;

    path{
      stroke: white;
    }
  }
}

.nav-loader {
  position: fixed;
  top: calc($frameMargin - 10px);
  left: 50%;
  // margin: auto;
  max-width: $max-width;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 2px 2px rgba(0, 0, 0, 0.203);
  width: fit-content;
  height: 60px;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  justify-content: space-between;
  // overflow: hidden;
  z-index: 9998;
  transform: translate(-50%, 0);

  &::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    background-color: rgb(120, 120, 120);
    z-index: -1;
    width: 15px;
    height: 10px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  &::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    z-index: -2;
    background-color: white;
    width: 10px;
    height: 10px;
  }
}

.nav-section{
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 2rem 2rem;
  color: $textColor;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  margin: 2px;

  &::before {
    content: "";
    position: absolute;
    right: -15px;
    top: 0;
    background-color: rgb(120, 120, 120);
    z-index: -1;
    width: 15px;
    height: 10px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  &::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    z-index: -2;
    background-color: white;
    width: 10px;
    height: 10px;
  }
  // background-color: $secondryColor;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: inherit;
    gap: 2rem;

    .link {
      font-size: 2vh;
      white-space: nowrap;
      text-transform: uppercase;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #44444455;
      font-family: "Anton";
      letter-spacing: 0.1em;
    }

    .active_0 {
      color: $color0;
    }
    .active_1 {
      color: $color1;
    }
    .active_2 {
      color: $color2;
    }
    .active_3 {
      color: $color3;
    }
    .active_4 {
      color: $color4;
    }
    .active_5 {
      color: $color5;
    }
    .active_6 {
      color: $color6;
      text-shadow: -1px 1px 1px rgba($color6, 0.4),
        2px 2px 0 rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.485);
    }
    .active_7 {
      color: $color7;
    }
  }

  .left {
    display: inherit;
    position: relative;
    .avatar {
      margin-right: 3rem;
      width: 50px;
      height: 100%;
      cursor: pointer;
    }

    .salutation-area {
      transform: scale(0);
      position: relative;
      display: inherit;
      width: 80px;
      height: 60%;
      background-color: $thirdColor;
      color: black;
      padding: 0 0.5rem 0 1rem;
      gap: 0.3rem;
      border-radius: 2rem;

      &::before {
        content: "";
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translate(0, -50%);
        width: 20px;
        height: 18px;
        background-color: $thirdColor;
        clip-path: polygon(0 50%, 100% 100%, 100% 0);
      }

      div {
        width: 50px;
        height: 99%;
      }
    }
  }
}

.mobile-nav-loader {
  // transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  width: $tabWidth;
  margin-top: $tabFrameMargin;
  height: 50%;
  z-index: 9998;
  pointer-events: none;
}

.mobile-nav-section {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: $textColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;

  .download{
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translate(-50%,0);
    width: 30vw;
    height: 40px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  .right {
    display: inherit;
    flex-direction: column;
    gap: 2rem;
    pointer-events: none;

    .Mlink {
      position: relative;
      font-size: 1.4rem;
      white-space: nowrap;
      text-transform: uppercase;
      height: 100%;
      pointer-events: all;
    }

    .active_0 {
      color: $color0;
    }
    .active_1 {
    
    }
    .active_2 {
      color: $color2;
    }
    .active_3 {
      color: $color3;
    }
    .active_4 {
      color: $color4;
    }
    .active_5 {
      color: $color5;
    }
    .active_6 {
      color: $color6;
      text-shadow: -1px 1px 1px rgba($color6, 0.4),
        2px 2px 0 rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.485);
    }
    .active_7 {
      color: $color7;
    }
  }
}



@media screen and (max-width: 1024px) {
  .headerSection{
    width: $tabWidth;
    margin-top: $tabFrameMargin;
    margin-left: $tabFrameMargin;
  }
  .nav-loader{
    display: none;
  }
  .mobile-nav-section{
    .download{
      min-width: 300px;
      span{
        svg{
          margin-top: -10px;
        }
      }
    }
  }
}

@media screen and (max-width: 546px) {
  .headerSection{
    width: $mobileWidth;
    margin-top: $mobileFrameMargin;
    margin-left: $mobileFrameMargin;
  }
  .mobile-nav-section{
    .download{
      font-size: 1rem;
      min-width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        height: 20px;
        margin-top: 0;

        svg{
          margin-top: -10px;
        }
      }
    }
  }
  .mobile-nav-loader {
    width: $mobileWidth;
    margin-top: $mobileFrameMargin;
  }
}
