@import "@/sass/variables.scss";
.main {
  position: relative;
  width: $width;
  height: $height;
  overflow: hidden;
  margin: $frameMargin;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);

  .frame {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      height: 100%;
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      width: 5px;
      background-color: rgb(255, 255, 255);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $scrollBar;
    }
  }

  .frame_0 {
    &::-webkit-scrollbar-thumb {
      background-color: $color0 !important;
    }
  }

  .frame_1 {
    &::-webkit-scrollbar-thumb {
      background-color: $color1 !important;
    }
  }

  .frame_2 {
    &::-webkit-scrollbar-thumb {
      background-color: $color2 !important;
    }
  }

  .frame_3 {
    &::-webkit-scrollbar-thumb {
      background-color: $color3 !important;
    }
  }

  .frame_4 {
    &::-webkit-scrollbar-thumb {
      background-color: $color4 !important;
    }
  }

  .frame_5 {
    &::-webkit-scrollbar-thumb {
      background-color: $color5 !important;
    }
  }

  .frame_6 {
    &::-webkit-scrollbar-thumb {
      background-color: $color6 !important;
    }
  }

  .frame_7 {
    &::-webkit-scrollbar-thumb {
      background-color: $color7 !important;
    }
  }

  .pointer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 99999;
    pointer-events: none !important;
    border: 1px solid rgba(0, 0, 0, 0.432);
    transition: all 0.1s linear;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    margin: $tabFrameMargin;
    width: $tabWidth;
    height: $tabHeight;

    .pointer {
     display: none;
    }
  }
}

@media screen and (max-width: 546px) {
  .main {
    margin: $mobileFrameMargin;
    width: $mobileWidth;
    height: $mobileHeight;

    .pointer {
      display: none;
     }
  }
}
